@{
    ViewData["Title"] = "Home Page";
}

<div class="panel panel-default bootcards-summary">
    <div class="panel-heading">
        <h3 class="panel-title">Menu Principal</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <a class="bootcards-summary-item" href="/usercourses">
                    <i class="fa fa-3x glyphicon glyphicon-education"></i>
                    <h4>Meus Cursos <span class="label label-info">432</span></h4>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a class="bootcards-summary-item" href="#">
                    <i class="fa fa-3x glyphicon glyphicon-book"></i>
                    <h4>Disciplinas<span class="label label-info">98</span></h4>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a class="bootcards-summary-item" href="#">
                    <i class="fa fa-3x glyphicon glyphicon-stats"></i>
                    <h4>Notas e Frequência<span class="label label-danger">54</span></h4>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a class="bootcards-summary-item" href="#">
                    <i class="fa fa-3x glyphicon glyphicon-cog"></i>
                    <h4>Calculadora de Nota<span class="label label-info">65</span></h4>
                </a>
            </div>
            <div class="col-xs-6 col-sm-4">
                <a class="bootcards-summary-item" href="#">
                    <i class="fa fa-3x glyphicon glyphicon-tasks"></i>
                    <h4>Atividades <span class="label label-warning">109</span></h4>
                </a>
            </div>
        </div>
    </div>

</div>

@await Html.PartialAsync("_CalendarPartial")

