@model AcademicLife.Models.Classroom

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Classroom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassLocation" class="control-label"></label>
                <input asp-for="ClassLocation" class="form-control" />
                <span asp-validation-for="ClassLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassSubjectId" class="control-label"></label>
                <select asp-for="ClassSubjectId" class="form-control" asp-items="ViewBag.ClassSubjectId"></select>
                <span asp-validation-for="ClassSubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassTeacherId" class="control-label"></label>
                <select asp-for="ClassTeacherId" class="form-control" asp-items="ViewBag.ClassTeacherId"></select>
                <span asp-validation-for="ClassTeacherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituteProviderId" class="control-label"></label>
                <select asp-for="InstituteProviderId" class="form-control" asp-items="ViewBag.InstituteProviderId"></select>
                <span asp-validation-for="InstituteProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsOfficial" /> @Html.DisplayNameFor(model => model.IsOfficial)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

